@media (max-width: 800px) {

    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header {
        margin: 20px 0;
    }

    main {
        width: 100%;
        height: 800px;
    }

    img {
        width: 354px;
        height: 317px;
    }

    .links-header,
    .button-header,
    p {
        display: none;
    }

    .logo {

        width: 354px;
        height: 317px;
        margin: 149px 14px 0px 14px;
        padding: 0;
        box-sizing: border-box;
        display: flex;
    }

    section {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 10px;
    }

    h2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .button-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
        margin-top: 17px;

    }
    

    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: auto;
        width: 100%;
        box-sizing: border-box;
    }

    b {
        font-size: 15px;
    }
}